<p id="notice"><%= notice %></p>
  

<table>
  <thead>
    <strong>Query Result on Table: </strong>  <%= @dynamotable.name %> 
  </thead>

  <tbody>
    <br>
    <br>
    <tr>
      <strong>Items: </strong> <br>
      <% @results.each do |item| %>
        <tr>
         ID: <%= item.hash_value %>  &nbsp;&nbsp;&nbsp; COLOR:  <%= item.attributes["color"] %> 
                &nbsp;&nbsp;&nbsp;  RANGE: <%= item.range_value %>  <br> 
        </tr>
      <% end %>
    </tr>

  </tbody>

<br>
<br>
  <%= link_to 'Back', "/show_item/#{@dynamotable.name}" %>

</table>  
  