<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Aws key:</strong>
  <%= @user.aws_key_id %>
</p>

<p>
  <strong>Aws sa key:</strong>
  <%= @user.aws_sa_key %>
</p>

<p>
  <strong>Aws region:</strong>
  <%= @user.aws_region %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
